.feature {
    max-width: 90vw;
}

.image {
    @apply bg-cover bg-center;

    background-image: var(--bg-image);
    content-visibility: auto;
    contain-intrinsic-size: 500px;
}

@media (max-width: 639px) {
    width: 100%;
}
