.FocalColorLink {
	background-image: linear-gradient(
		to right,
		var(--link-border-color),
		var(--link-border-color)
	);
	background-position: left bottom;
	background-repeat: repeat-x;
	background-size: 100% 5px;
}

.FocalColorLink:hover,
.FocalColorLink:active {
	background-size: 100% 100%;
}

:global(.FocalAltBackground) .FocalColorLink {
	color: white;
	--link-border-color: rgba(255, 255, 255, 0.5);
}

:global(.WarningBackground) .FocalColorLink {
	color: var(--color-fg-warning);
	--link-border-color: hsl(
		var(--color-fg-warning-h),
		var(--color-fg-warning-s),
		calc(var(--color-fg-warning-l) * 3)
	);
}

:global(.WarningBackground) .FocalColorLink:hover {
	background-size: 100% 100%;
}

:global(.WisdomBackground) .FocalColorLink {
	color: var(--color-fg-wisdom);
	--link-border-color: hsl(93, 39%, 75%);
}

:global(.WisdomBackground) .FocalColorLink:hover {
	background-size: 100% 100%;
}
