.headerIllustration {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (prefers-color-scheme: light) {
    .indexPageHeaderIllustration {
        background-image: url(/meIndex_light.svg);
    }
}


@media (prefers-color-scheme: dark) {
    .indexPageHeaderIllustration {
        background-image: url(/meIndex_dark.svg);
    }
}

:global(.forcedLight) .indexPageHeaderIllustration {
    background-image: url(/meIndex_light.svg);
}

:global(.forcedDark) .indexPageHeaderIllustration {
    background-image: url(/meIndex_dark.svg);
}

@media (prefers-color-scheme: light) {
    .aboutPageHeaderIllustration {
        background-image: url(/michiganState_light.svg);
    }
}

@media (prefers-color-scheme: dark) {
    .aboutPageHeaderIllustration {
        background-image: url(/michiganState_dark.svg);
    }
}

:global(.forcedLight) .aboutPageHeaderIllustration {
    background-image: url(/michiganState_light.svg);
}

:global(.forcedDark) .aboutPageHeaderIllustration {
    background-image: url(/michiganState_dark.svg);
}

@media (prefers-color-scheme: light) {
    .projectsPageHeaderIllustration {
        background-image: url(/laptop_code_light.svg);
    }
}

@media (prefers-color-scheme: dark) {
    .projectsPageHeaderIllustration {
        background-image: url(/laptop_code_dark.svg);
    }
}

:global(.forcedLight) .projectsPageHeaderIllustration {
    background-image: url(/laptop_code_light.svg);
}

:global(.forcedDark) .projectsPageHeaderIllustration {
    background-image: url(/laptop_code_dark.svg);
}

