.mainBleed {
    @apply h-screen bg-focal-alt;
    --bleed-fg-color: hsl(45, 8%, 80%);
}

@media (max-width: 780px) {
    .mainBleed {
        height: 50vh;
    }
}

.moreArrow { --size: 6px;
    --up-down-amount: 20px;

    border-color: var(--bleed-fg-color);

    border-width: 0 var(--size) var(--size) 0;
    padding: var(--size);

    margin-bottom: calc(var(--size) * 3);

    transform: rotate(45deg);
}

.title {
    color: var(--bleed-fg-color);
}
