.heading {
    scroll-margin-top: 0.75rem; /* mt-3 */
}

.headingSelfLink {
    @apply flex flex-col h-auto justify-center;
}

.headingSelfLink svg {
    @apply sm:invisible mt-1;
    font-size: 0.8em;
}

h1:hover .headingSelfLink svg,
h2:hover .headingSelfLink svg,
h3:hover .headingSelfLink svg,
h4:hover .headingSelfLink svg,
.headingSelfLink:hover svg {
    @apply sm:visible;
}

.img {
    @apply my-12;
    max-width: 100%;
}

.imgPixelated {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.figure {
    @apply my-16 p-4 -mx-4 pb-2 mx-auto max-w-2xl shadow;
}

.figure img {
    @apply m-auto;
    width: 100%;
}

.figure figcaption {
    @apply text-sm text-center pt-4;
}