.navigation {
	@apply bg-bg text-fg;
}

.navigation a:hover {
	background-color: var(--link-border-color);
	@apply text-focal;
}

.portraitIllustration {
	@apply bg-contain bg-center bg-no-repeat;
}

@media (prefers-color-scheme: light) {
	.portraitIllustration {
		background-image: url(/meIndex_light.svg);
	}
}

@media (prefers-color-scheme: dark) {
	.portraitIllustration {
		background-image: url(/meIndex_dark.svg);
	}
}

:global(.forcedLight) .portraitIllustration {
	background-image: url(/meIndex_light.svg);
}

:global(.forcedDark) .portraitIllustration {
	background-image: url(/meIndex_dark.svg);
}
